<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd' >
<mapper namespace='com.yalonglee.learning.security.mapper.base.SysAclModuleBaseMapper'>

    <sql id='Base_Column_List' >
    id, name, parent_id, level, seq, status, remark, operator, operate_time, operate_ip
    </sql>

    <select id='selectByPrimaryKey' resultType='com.yalonglee.learning.security.model.SysAclModule' parameterType='java.lang.Long'>
        select 
        <include refid='Base_Column_List' />
        from sys_acl_module 
        where id = #{id}
    </select>

    <select id='selectByQuery' resultType='com.yalonglee.learning.security.model.SysAclModule' parameterType='java.util.Map'>
        select 
        <include refid='Base_Column_List' />
        from sys_acl_module 
        <where>
            <include refid='query_filter'/>
        </where>
        <if test='start != null'>
            LIMIT #{start},#{limit}
        </if>
    </select>

    <delete id='deleteByPrimaryKey' parameterType='java.lang.Long'>
        delete from sys_acl_module where id = #{id}
    </delete>

    <select id='count' resultType='java.lang.Integer' parameterType='java.util.Map'>
        select count(*) from sys_acl_module
        <where>
            <include refid='query_filter'/>
        </where>
    </select>

    <insert id='insert' parameterType='java.util.Map' useGeneratedKeys='true' keyProperty='id'>
        insert into sys_acl_module
        <trim prefix='(' suffix=')' suffixOverrides=','>
            <if test='id != null'>id,</if>
            <if test='name != null'>name,</if>
            <if test='parentId != null'>parent_id,</if>
            <if test='level != null'>level,</if>
            <if test='seq != null'>seq,</if>
            <if test='status != null'>status,</if>
            <if test='remark != null'>remark,</if>
            <if test='operator != null'>operator,</if>
            <if test='operateTime != null'>operate_time,</if>
            <if test='operateIp != null'>operate_ip,</if>
        </trim>
        <trim prefix='values (' suffix=')' suffixOverrides=','>
            <if test='id != null'>#{id},</if>
            <if test='name != null'>#{name},</if>
            <if test='parentId != null'>#{parentId},</if>
            <if test='level != null'>#{level},</if>
            <if test='seq != null'>#{seq},</if>
            <if test='status != null'>#{status},</if>
            <if test='remark != null'>#{remark},</if>
            <if test='operator != null'>#{operator},</if>
            <if test='operateTime != null'>#{operateTime},</if>
            <if test='operateIp != null'>#{operateIp},</if>
        </trim>
    </insert>

    <update id='update' parameterType='java.util.Map'>
        update sys_acl_module
        <set>
            <if test='id'>id = #{id},</if>
            <if test='name'>name = #{name},</if>
            <if test='parentId'>parent_id = #{parentId},</if>
            <if test='level'>level = #{level},</if>
            <if test='seq'>seq = #{seq},</if>
            <if test='status'>status = #{status},</if>
            <if test='remark'>remark = #{remark},</if>
            <if test='operator'>operator = #{operator},</if>
            <if test='operateTime'>operate_time = #{operateTime},</if>
            <if test='operateIp'>operate_ip = #{operateIp},</if>
        </set>
        where id = #{id}
    </update>

    <sql id='query_filter'>
        <if test='id != null'>and id = #{id}</if>
        <if test='name != null'>and name = #{name}</if>
        <if test='parentId != null'>and parent_id = #{parentId}</if>
        <if test='level != null'>and level = #{level}</if>
        <if test='seq != null'>and seq = #{seq}</if>
        <if test='status != null'>and status = #{status}</if>
        <if test='remark != null'>and remark = #{remark}</if>
        <if test='operator != null'>and operator = #{operator}</if>
        <if test='operateTime != null'>and operate_time = #{operateTime}</if>
        <if test='operateIp != null'>and operate_ip = #{operateIp}</if>
    </sql>

</mapper>
